/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..600&display=swap');

/* Pet Shop Color Palette
    #ff9934	(255,153,52)
	#f8f246	(248,242,70)
    #8c5826	(140,88,38)
    #e1f1f2	(225,241,242)
	#2cbbc3	(44,187,195)
*/


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* reset the bullet-points list to none */
}

/* Generic project styles */

html {
    /* Convert the default value of root font-size from 16 to 10 px 
        to use base 10 for calculations */
    font-size: 62.5%;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 280px;
    min-height: 653px;
    /*Galaxy Fold width as minimum default */
    /* MOBILE DEFAULT */
    font-family: 'Inter', sans-serif;
    color: #fafafa;
    ;
    margin-bottom: 30px;
    /* Prevent the footer (30px height) to cover the main content */
}

/* reset the color and remove the underline for the links in anchor tags*/
a {
    text-decoration: none;
    /* NO UNDERLINE FOR LIKNS */
}

/* Styles for headers h1 to h3*/
h1,
h2,
h3,
h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fafafa;
}

/* Utility function to hide elements from the user but still be available for search engines*/
.hidden-heading {
    display: none;
}

/* =============================================================================== */

/* https://htmlcolorcodes.com for colors

/* HEADER -> CONTAINS THE NAVBAR */

#header {
    background-color: #e1f1f2;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    /* box-shadow: 0 2px 2px #141414; */
    /* thin shadow undernith header and main content */
    z-index: 99;
    /* Always on top */
}

#logo {
    color: #1d1c1b;
    font-size: 3rem;
}

/* ----- NAVBAR DIV INSIDE HEADER-------*/

/* Hide the checkbox */
#nav-toggle {
    display: none;
}

/* Navbar styles with dropdown toggle */

#navbar {
    position: absolute;
    background-color: #e1f1f2;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: none;
    /*no display on small screen*/
    top: 100%;
}

/* Style Navigation items */
.menu-item {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(206, 127, 24, 0.719);
    margin-top: 3px;
    margin-bottom: 3px;

}

/* Underline the active navigatin item: */
.active {
    border-bottom: 1px solid #1d1c1b;
}

/* Enlarge the nav-item at hover */
.menu-item a:hover {
    scale: 1.25;
    color: #1d1c1b;
}

/* Nav toggle: checked on icon click */
#nav-toggle:checked~nav {
    display: block;
}

/* Hamburger menu icon size and color */
#nav-toggle-label {
    font-size: 3rem;
    color: #222831;
}


/* ------------------------------ MAIN CONTENT ------------------------*/

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 24px;
    background-color: #222831;
}


/* --------------------------------------------------------------------*/
/* ------------------------ FOOTER: DONE ------------------------------*/
/* --------------------------------------------------------------------*/

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #393E46;
    height: 3rem;
}

#social-networks {
    position: fixed;
    /* Fixed relative to the main footer div*/
    margin-top: auto;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 200%;
}

#social-networks a>i {
    color: #eeddcc;
    opacity: 0.6;
}

#social-networks a>i:hover {
    opacity: 1;
    scale: 1.25;
}

/* --------------------------------------------------------------------*/
/* ------------------------------ HOME PAGE ------------------------ */



/* Hero section */
#hero {
    position: relative;
    height: 40rem;
    width: 100%;
    background: url("../images/hero-image-3.webp") no-repeat center center/cover;
}

#cover-text {
    position: relative;
    top: 32.5rem;
    width: 95%;
    padding-right: 1.5rem;
    background-color: rgba(255, 170, 165, 0.6);
}

#cover-text {

    h2,
    h3 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #0e0d0d;
    }
}

/* ----------- */

/* ADDITIONAL CONTENT SECTION */
#additional-content {
    margin: 1rem 1rem;

    hr {
        border-top: 1px solid #fafafa;
        margin: 0.5rem 0.5rem;
    }
}

#reasons-1,
#reasons-2,
#reasons-3 {
    padding: 1rem 1rem;

    p {
        text-align: left;
        padding-left: 1.5rem;
    }

    h3 {
        color: #c51212;
        text-align: left;
        padding-left: 1rem;
    }
}

/* ------------ CALL TO ACTION SECTION ---------------*/
#call-to-action-section {
    margin: 1rem 1rem;
    align-items: center;
    justify-items: center;

    #call-to-action {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        #call-to-action-img {
            background: url('../images/hero-image-2-crop.webp') no-repeat top center / cover;
            height: 90vw;
            width: 90vw;
            max-width: 40rem;
            max-height: 40rem;
            border-radius: 50%;
            /* Makes the square image into a circle */
        }

        #call-to-action-link * {
            text-align: center;
            font-size: 1.2rem;
            color: #fafafa;
            padding: 0.5rem;
            cursor: pointer;
        }

        #call-to-action-link p>a:hover {
            text-transform: uppercase;
            scale: 1.2;
            color: #ff9934;
        }
    }
}

/* --------------------------------------------------------------------*/
/* ------------------------------ GALLERY PAGE ------------------------ */

/* Hide the card checkbox */
/* https://www.youtube.com/watch?v=b6_u8IVVLdo&list=PLEKFv-CQMRtBYQCdCg3nLNKsXm7b-yd5Z&index=21*/


#facts {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    .card {

        #img-and-caption {
            width: 90vw;
            max-width: 40rem;

            img {
                height: 90vw;
                max-height: 40rem;
                object-fit: no-repeat top center / cover;
                border-radius: 50%;
            }

            figcaption {
                position: relative;
                top:-2px;
                background-color: rgba(196, 62, 57, 0.952);
                color: #fafafa;
                font-size: 1.5rem;
                letter-spacing: 2px;
                text-align: center;
                border-radius: 10px;
            } /*  #img-and-caption */

        }

        .card-text-breeds label {
            background-color: #c51212;
            color: #fafafa;
            text-transform: capitalize;
            text-align: center;
            width: 100px;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
            font-size: 1.2rem;
        }

        .card-text-breeds p {
            color: #d31f1f;
            text-align: left;
            font-size: 1.2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-top: 0.5rem;
        }

        label {
            position: relative;
            top: 1rem;
            background-color: #c51212;
            color: #fafafa;
            text-transform: capitalize;
            width: auto;
            cursor: pointer;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-size: 1.2rem;
        }

    } /* .card */

   
}









#card-toggle-breeds {
    display: none;
}


#card-text-breeds {
    display: none;
}



/* =========================================== */
/* =============    GALLERY PAGE   =========== */

#gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

/* =========================================== */

/* ---- MEDIA QURIES / RESPONSIVE DESIGN ---- */

/* THE DEFAULT RESPONSIVE DESIGN OPTIMIZED FOR MOBILES (<567px width) 

/* Media query: Large or landscape phones (567px and up) 
                Large devices (laptops and desktops, 992px and up) 
*/





/* Large devices (laptops and desktops, 992px and up) */