
/* Google fonts import */
/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..600&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; /* reset the bullet-points list to none */
  color: black; /* set defaut text color to black */
}

root {
  /* Convert the default value of root font-size from 16 to 10 px 
   to use base 10 for calculations */
  font-size: 62.5%;
}

body{
  /* Generic project styles */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*color: #3a3a3a;*/
  font-family: 'Inter', sans-serif;
}

/* reset the color and remove the underline for the links in anchor tags*/
a {
  text-decoration: none;
}

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* =============================================================================== */

 /* https://htmlcolorcodes.com for colors

/* General styles */


header{
  background-color: orange;
  position: fixed;
  display: flex;
  z-index: 99;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0 2px 2px #3a3a3a;
}
#menu {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
}
#menu>li {
  margin-bottom: 0.5em;
}
.active {
  border-bottom: 1px solid #3a3a3a;
  color: #6fc273;
}
/* ------------------------------ NAVBAR ------------------------*/
/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}
/* ------------------------------ MAIN CONTENT ------------------------*/

main{
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  height: 2000px;
  background-color: #222831;
}

#hero{
  color: white;
}

#intro{
  color: white;
}

/* ------------------------------ FOOTER ------------------------*/

/* Footer */
footer{
  position: fixed;
  z-index: 99;
  margin-top: auto;
  bottom: 0;
  padding-top: 1rem;
  width: 100%;
  height: 4rem; 
  align-content: baseline;
  background-color: #393E46; 
}

#social-networks  {
  font-size: 160%;
  text-align: center;
  
  display:flex;
  justify-content:space-evenly;
  color: #eeddcc; 
}

#social-networks i {
  color: #eeddcc;
  opacity: 0.8;  
 }

#social-networks i:hover {
  color: red;
  font-size: 150%; 
 
}


/* ---- MEDIA QURIES / RESPONSIVE DESIGN ---- */

/* Tablets and larger (768px and up) */



/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 768px) {

  /* Header */
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 1rem;
  }

  #menu {
      display: flex;
  }

  #menu>li {
      padding-left: 1rem;
  }

  .nav-toggle-label {
      display: none;
  }

  #logo {
      font-size: 280%;
      line-height: 75px;
      margin: 0 0.5rem;
  }

  /* Main content */
  main {
      /* Push main content down to accommodate larger header */
      margin-top: 79px;
  }

  /* Hero */
  #cover-text {
      width: 300px;
      right: 50px;
  }

  /* Signup Form*/
  #signup {
      background-position: center;
      position: relative;
  }

  #signup-form {
      max-width: 400px;
      position: absolute;
      left: 10%;
      top: 150px;
  }

  .text-input:hover{
      border-color: #f16c6b;
  }
  .join-button:hover{
      background-color: #fafafa;
      color: #454b1b;
  }
  



}


