/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

root {
  /* Convert the default value of root font-size from 16 to 10 px 
   to use base 10 for calculations */
  font-size: 62.5%;
}

/* reset the bullet-points list to none */
ul{
  list-style: none;
}

/* reset the color and remove the underline for the links in anchor tags*/
a {
  text-decoration: none;
  /*color: inherit;*/
}

h1, h2, h3 {
  text-align: center;
}

/* =============================================================================== */

 /* https://htmlcolorcodes.com for colors

/* General styles */

header{
  position: absolute;
  background-color: #fffff0;
  height: 50px;
  width: 100%;
}

#navbar{
  background-color: #3a3a3a; 
  height:7rem;
}
#navbar a {
  
  margin-left: 10px;
  margin-right: 10px;
  background-color:  #fffff0;
}

main{
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}



/* ------------------------------ FOOTER ------------------------*/

/* Footer */
footer{
  position: absolute;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  align-content: baseline;
  background-color: #3a3a3a; 
}

#social-networks  {
  font-size: 160%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  border-radius: 50%; /* Make the look circular */
  color: #fffff0; 

}

#social-networks a i{
  color: #fffff0;
  opacity: 0.8; 
  
}

